.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* App.css */
.container {
  display: flex;                   /* Enables flexbox layout */
  /*justify-content: center;         /* Centers cards horizontally */
  align-items: center;             /* Centers cards vertically */
  /*height: 50vh;                   /* Makes the container take the full viewport height */
  flex-direction: column;          /* Stacks cards vertically */
  gap: 1px;                       /* Adds space between cards */
  text-align: center;              /* Centers text inside the cards */
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
